.a{color:#8b008b;font-family: "Arial";font-size: 50px; position: absolute; left: 600px;}
.b{color:#9932cc;font-family: "Arial";font-size: 50px;position: absolute; left: 640px;}
.c{color:#7b68ee;font-family: "Arial";font-size: 50px;position: absolute; left: 675px;}
.d{color:#1e90ff;font-family: "Arial";font-size: 50px;position: absolute; left: 710px;}
.e{color:#00bfff;font-family: "Arial";font-size: 50px;position: absolute; left: 745px;}
.f{color:#1c9e4e;font-family: "Arial";font-size: 50px;position: absolute; left: 765px;}
.g{color:#58d347;font-family: "Arial";font-size: 50px;position: absolute; left: 820px;}
.h{color:#ffd700;font-family: "Arial";font-size: 50px;position: absolute; left: 860px;}
.i{color:#ff8c00;font-family: "Arial";font-size: 50px;position: absolute; left: 895px;}
.j{color:#ff6347;font-family: "Arial";font-size: 50px;position: absolute; left: 945px;}
.k{color:#ff0000;font-family: "Arial";font-size: 50px;position: absolute; left: 980px;}
